[submodule "deps/libgit2"]
	path = deps/libgit2
	url = https://github.com/libgit2/libgit2.git
[submodule "deps/cxxopts"]
	path = deps/cxxopts
	url = https://github.com/jarro2783/cxxopts.git
[submodule "deps/json"]
	path = deps/json
	url = https://github.com/nlohmann/json.git
[submodule "deps/yaml-cpp"]
	path = deps/yaml-cpp
	url = https://github.com/jbeder/yaml-cpp.git
